@model IEnumerable<BookReviewApp_NL_S04_20.Models.Publisher>

@{
    ViewData["Title"] = "Publishers";
}

<h1>Publishers</h1>

@* Na ovoj strani su namerno ostavljene akcije da bi moglo da se istestira da su rute zasticene *@
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-hover table-bordered align-middle">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model)
        {
            <tr>
                <td>@publisher.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@publisher.Id" class="btn btn-outline-primary me-2">Edit</a>
                    <a asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


